# /node_modules/* in the project root is ignored by default
# build artifacts
dist/*
build/*
coverage/*
# data definition files
**/*.d.ts
# 3rd party libs
/src/public/
# custom definition files
/src/types/

#test files
test/*

# Generated JavaScript files in the same dir
*.js

# Generated TypeScript files
datamodels.ts
interfaces.ts